<header class="header">
    <nav class="header-nav">

        {{ if isset .Site.Params "avatarurl" }}
        <div class="avatar">
            <a href="{{ .Site.BaseURL }}">
                <img src='{{ .Scratch.Get "avatarImgSrc" }}' alt="{{ .Site.Params.AvatarAltText|default "avatar" }}">
            </a>
        </div>
        {{ end }}

        <div class="nav-title">
            <a class="nav-brand" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
        </div>

        <div class="nav-links">
            {{ range .Site.Menus.main }}
            <div class="nav-link">
                <a href="{{ .URL | absURL }}" aria-label="{{ .Identifier }}" {{ if .Params.NewPage -}}target="_blank" {{- end -}}>
                    {{- .Pre | safeHTML }} {{ .Name }} {{ .Post | safeHTML -}}
                </a>
            </div>
            {{ end }}
            <span class="nav-icons-divider"></span>
            <data id="default-lang" style="display: none;">{{ site.Params.baseLang }}</data>
            <div class="nav-link language-switch">
                {{ if eq .Site.Language.Lang "fr" }}
                    <a class="lang-switch" data-lang="en" aria-label="Switch to English">🇬🇧</a>
                {{ else }}
                    <a class="lang-switch" data-lang="fr" aria-label="Passer en français">🇫🇷</a>
                {{ end }}
            </div>
            <div class="nav-link dark-theme-toggle">
                <span class="sr-only dark-theme-toggle-screen-reader-target">theme</span>
                <a aria-hidden="true" role="switch">
                    <span class="theme-toggle-icon" data-feather="moon"></span>
                </a>
            </div>

            <div class="nav-link" id="hamburger-menu-toggle">
                <span class="sr-only hamburger-menu-toggle-screen-reader-target">menu</span>
                <a aria-checked="false" aria-labelledby="hamburger-menu-toggle" id="hamburger-menu-toggle-target" role="switch">
                    <span data-feather="menu"></span>
                </a>
            </div>

            <!-- For mobile -->
            <ul class="nav-hamburger-list visibility-hidden">
                {{ range .Site.Menus.main }}
                <li class="nav-item">
                    <a href="{{ .URL | absURL }}" {{ if .Params.NewPage -}} target="_blank"{{- end -}}>
                        {{- .Pre | safeHTML }} {{ .Name }} {{ .Post | safeHTML -}}
                    </a>
                </li>
                {{ end }}
                {{ if eq .Site.Language.Lang "fr" }}
                    <a class="lang-switch" data-lang="en" aria-label="Switch to English">🇬🇧</a>
                {{ else }}
                    <a class="lang-switch" data-lang="fr" aria-label="Passer en français">🇫🇷</a>
                {{ end }}
                <li class="nav-item dark-theme-toggle">
                    <span class="sr-only dark-theme-toggle-screen-reader-target">theme</span>
                    <a role="switch">
                        <span class="theme-toggle-icon" data-feather="moon"></span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <script>    
        langSwitchs = document.querySelectorAll('.lang-switch');
        langSwitchs.forEach(el => {
            el.addEventListener("click", (e) => {
                defaultLang = document.getElementById("default-lang").innerHTML;
                lang = e.srcElement.getAttribute("data-lang");

                let currentUrl = window.location.pathname.split('/');
                let baseUrl = window.location.origin;
    
                if (currentUrl[1].length === 2) {
                    currentUrl.splice(1, 1);
                }

                let newUrl;

                if (lang == defaultLang) {
                    newUrl = `${baseUrl}/${currentUrl.join('/')}`;
                } else {
                    newUrl = `${baseUrl}/${lang}/${currentUrl.join('/')}`;
                }
    
                window.location.href = newUrl.replace(/\/$/, '');
            });
        });
    </script>    
</header>

